
.form-control-header__search {
  background-color: silver;
  border-radius: 30px;

}

.navbar-nav__compose-button {
  background-color: #41abe1;
  border-radius: 5px;
  width: 40px;
  text-align: center;
}

.profile-background {
  background-color: #3084ad;
  height: 320px;
}

@media (max-width: 992px) {
  .navbar-container__header {
    max-width: 95%;
  }
}

@media (max-width: 768px) {
  .navbar-header__left-nav {
    display: none;
  }
  .navbar-header__logo {
    display: none !important;
  }
}

