/* 1 секция */
.home-page{
    height: 100vh;
    background:url("/landing-page/images/portfolio-single-bckground.png") no-repeat center;
    background-size: cover;
}
.content-container{
    padding: 30px 50px 0px 50px;
}
.home-header{
    display: flex;
    justify-content: space-between;
}
.home-header__icon-logo{
    width: 40px;
    height: 40px;
    transition: all 0.3s ease;
}
.home-header__icon-logo:hover{
    transform: scale(1.1);
    transition: all 0.3s ease;
}
.home-header__icon-menu{
    display: none;
    width: 40px;
    height: 40px;   
    transition: all 0.3s ease;
}
.home-header__icon-menu:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.3s ease;
}
.headline{
    display: flex;
    justify-content: space-between;
    width: 60%;
}
.headline__elem:hover{
    text-decoration: none;
}
.headline__text{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    font-weight: bold;
    transition: all 0.3s ease;
}
.headline__text:hover{
    transform: scale(1.1);
    color: #10c9c3;
    transition: all 0.3s ease;
}
.home-menu{
    display: none;
    position: absolute;
    height: 600px;
    right: -270px;
    background-color: rgb(0, 0, 0);
}
.home-menu-logo{
    display: flex;
    padding-top:  20px ;
}
.home-menu-logo__icon{
    margin-left: auto;
    margin-right: auto;
    width: 70px;
    height: 70px;
    transition: all 0.3s ease;
}
.home-menu-logo__icon:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.3s ease;
}
.home-menu__list{
    padding: 30px 20px;
}
.home-menu__elem{
    text-align: center;
    text-decoration: none;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    list-style-type: none;
    transition: all 0.3s ease;
}
.home-menu__elem:hover{
    font-size: 42px;
    transition: all 0.3s ease;
}
.home-menu__href{
    color: #d8d8d8;
}
.home-menu__href:hover{
    color: #ffffff;
    text-decoration: none;
}
.home-main{
    padding: 164px 0 165px 700px;
}
.home-text-container{
    font-family: Lucida Sans Unicode;
}
.home-text-container__title{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
}
.home-text-container__text{
    font-size: 18px;
    color: #767676;
}
.home-text-container__button{
    margin-top: 25px;
    padding: 17px 40px;
    background-color: #767676;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    transition: all 0.3s ease;
    border: none;
}
.home-text-container__button:hover{
    transform: scale(1.05);
    background-color: #10c9c3;
    transition: all 0.3s ease;
}
/* 2 секция */
/*  */
/*  */
.about-us{
    display: block;
    padding: 50px ;
    text-align: center;
    font-family: Lucida Sans Unicode;
}
.about-us__title{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 10px;
}
.about-us__text{
    text-align: center;
    color: #767676;
}
.about-us__sign{
    padding-top: 15px;
}
/* адаптив */
/*  */
/*  */
@media (min-width: 1281px) {
    .home-main{
        padding-left: 60%;
    }
    .home-header__icon-menu{
        display: none;
    }
}
@media (min-width: 1025px) and (max-width: 1280px) {
    .home-main{
        padding-left: 48%;
    }
    .home-header__icon-menu{
        display: none;
    }
}
@media (min-width: 828px) and (max-width: 1024px) {
    .home-main{
        padding-left: 35%;
    }
    .headline{
        width: 75%;
    }
    .home-header__icon-menu{
        display: none;
    }
    .about-us{
        padding: 40px 50px;
    }
}
@media (min-width: 601px) and (max-width: 827px) {
    .home-page{
        height:  600px;
    }
    .headline{
        display: none;
    }
    .home-header__icon-menu{
        display: grid;
    }
    .home-main{
        padding: 100px 0 ;
        text-align: center;
    }
    .home-header__icon-logo{
        width: 50px;
        height: 50px;
    }
    .home-header__icon-menu{
        width: 50px;
        height: 50px;
    }
    .home-text-container__title{
        font-size: 42px;
    }
    .home-text-container__text{
        font-size: 22px;
        color: #000000;
    }
    .home-text-container__button{
        font-size: 18px;
        padding: 20px 50px;
        background-color: #10c9c3;
    }
    .about-us{
        padding: 30px 50px;
    }
    .about-us__title{
        font-size: 35px;
    }
    .about-us__text{
        font-size: 18px;
    }
}
@media (min-width: 320px) and (max-width: 600px){
    .home-page{
        height:  600px;
    }
    .headline{
        display: none;
    }
    .home-header__icon-menu{
        display: grid;
    }
    .home-main{
        padding: 50px 0 ;
        text-align: center;
    }
    .home-header__icon-logo{
        width: 50px;
        height: 50px;
    }
    .home-header__icon-menu{
        width: 50px;
        height: 50px;
    }
    .home-text-container__title{
        font-size: 38px;
    }
    .home-text-container__text{
        font-size: 20px;
        color: #000000;
    }
    .home-text-container__button{
        font-size: 18px;
        padding: 20px 50px;
        background-color: #10c9c3;
    }
    .about-us{
        padding: 30px 40px;
    }
    .about-us__title{
        font-size: 35px;
    }
    .about-us__text{
        font-size: 20px;
    }
}
